<!DOCTYPE html>
<html>
    <body style="background-color:powderblue;"></body>
    <head>
        <title>Kika's blog</title>
    </head>
    <body>
        <h1><font color="green">Novy blog</font></h1>
        <h2><u>django girls</u></h2>
        <p>Vitaj na mojom blogu!</p>
        <p>Dufam ze sa ti bude pacit</p>
        <br>
        <em>Volam sa Kika</em>
        <br>
        <strong>Neviem co robim</strong>
        <p>To je vsetko</p>
    </body>
    <img src="dinosaurus.jpg" alt="Dinosaurus" />
</html>